.list > * {
	display: block;
	padding-block: var(--spacing);
	&:not(:last-child) {
		border-block-end: 1.5px solid var(--disabled-color);
	}
}

.interactiveList > * {
	cursor: pointer;
	&:is(:hover, :focus) {
		border-radius: var(--actionable-border-radius);
		border-block-end-color: transparent;
		background-color: var(--hover-color);
	}
}
