.textareaHeader,
.textareaActions {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: var(--spacing);
}

.label {
	flex-grow: 1;
	font-weight: var(--medium-font-weight);
	color: var(--font-color);
	user-select: none;
}

.textareaContainer {
	border: 1px solid var(--primary-light-color);
	border-radius: var(--surface-border-radius);
	padding: var(--spacing);
	transition: all 0.3s ease;
}

.textareaContainer:has(.textarea:focus) {
	box-shadow: var(--box-shadow);
}

.textarea {
	width: 100%;
	outline: none;
	border: none;
	overflow-x: hidden;
	word-break: break-all;
	font-size: var(--clarification-font-size);
	background-color: var(--background-color);
	color: var(--font-color);
	caret-color: var(--primary-light-color);
	&::placeholder {
		color: var(--greyed-text-color);
	}
}

.characterCounter,
.label {
	padding-block: var(--spacing);
	user-select: none;
}

.textareaActions {
	margin-block-start: var(--spacing);
}

@supports (resize: none) and (field-sizing: content) {
	.textarea {
		resize: none;
		field-sizing: content;
		overflow-y: hidden;
	}
}
