.dialog {
	width: var(--modal-width);
	max-height: 90dvh;
	margin: auto;
	border: none;
	background-color: var(--background-color);
	border-radius: var(--surface-border-radius);
	box-shadow: 0 0 20px var(--on-primary-color);
}

.dialog::backdrop {
	background-color: rgba(from var(--on-primary-color) r g b / 0.6);
	backdrop-filter: blur(2px);
}

body:has(.dialog[open]) {
	overflow: hidden;
}

.dialogHeader,
.dialogFooter {
	display: flex;
	align-items: center;
	padding: var(--spacing);
	gap: var(--spacing);
	position: sticky;
}

.dialogHeader {
	top: 0;
	padding-block: calc(var(--spacing) / 2);
	background-color: var(--primary-shade-color);
	color: var(--on-primary-shade-color);
	* {
		color: var(--on-primary-shade-color);
	}
}

.dialogFooter {
	bottom: -1px;
	justify-content: end;
	background-color: var(--background-color);
}

.dialogTitle {
	flex-grow: 1;
	user-select: none;
}

.dialogContent {
	padding-inline: var(--spacing);
	padding-block: var(--spacing);
}
