@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
	--primary-color: #009688;
	--on-primary-color: #000000;
	--primary-shade-color: #00796b;
	--on-primary-shade-color: #ffffff;
	--primary-light-color: #4db6ac;
	--on-primary-light-color: #000000;
	--secondary-color: #00daab;
	--on-secondary-color: #000000;
	--secondary-shade-color: #00b788;
	--on-secondary-shade-color: #000000;
	--secondary-light-color: #00efc8;
	--on-secondary-light-color: #000000;
	--error-color: #b00020;
	--on-error-color: #ffffff;
	--success-color: var(--secondary-shade-color);
	--on-success-color: var(--on-secondary-shade-color);
	--disabled-color: #c2c2c2;
	--on-disabled-color: #000000;

	--hover-color: #f2f2f2;
	--background-color: #ffffff;

	--spacing: 16px;
	--surface-border-radius: 10px;
	--actionable-border-radius: 15px;

	--navbar-height: 10dvh;
	--sidebar-width: 20dvw;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

/* 
	Set parent font size to reduce size
	Useful for hierarchical relationships
	denoted through font size.
	e.g., Post & Comment
*/

.clarificationText {
	font-size: 0.875em;
	font-weight: 400;
}

.titleText {
	font-size: 1.125em;
	font-weight: 500;
}

.headerText {
	font-size: 1.25em;
	font-weight: 700;
}

/* 
	Useful classes for hierarchical 
	relationships denoted through font style.
	e.g., Post & Comment
*/

.emphasizedText {
	font-weight: 700;
}

.deemphasizedText {
	color: var(--disabled-color);
}

@media screen and (width <= 992px) {
	:root {
		--sidebar-width: 90dvw;
	}
}
