@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
	--primary-color: #009688;
	--on-primary-color: #000000;
	--primary-shade-color: #00796b;
	--on-primary-shade-color: #ffffff;
	--primary-light-color: #4db6ac;
	--on-primary-light-color: #000000;
	--secondary-color: #00daab;
	--on-secondary-color: #000000;
	--secondary-shade-color: #00b788;
	--on-secondary-shade-color: #000000;
	--secondary-light-color: #00efc8;
	--on-secondary-light-color: #000000;
	--error-color: #b00020;
	--on-error-color: #ffffff;
	--success-color: var(--secondary-shade-color);
	--on-success-color: var(--on-secondary-shade-color);
	--disabled-color: #d1d1d1;
	--on-disabled-color: #000000;

	--hover-color: #f7f7f7;
	--background-color: #ffffff;

	--greyed-text-color: hsl(from var(--disabled-color) h s calc(l - 30));

	--spacing: 16px;
	--surface-border-radius: 10px;
	--actionable-border-radius: 15px;

	--navbar-height: 10dvh;
	--sidebar-width: 20dvw;

	--regular-font-size: 1rem;
	--clarification-font-size: 0.875em;
	--title-font-size: 1.125em;
	--header-font-size: 1.25em;

	--regular-font-weight: 400;
	--medium-font-weight: 500;
	--semi-bold-font-weight: 600;
	--bold-font-weight: 700;

	--button-height: 40px;
	--button-weight: var(--semi-bold-font-weight);
	--small-button-height: 32px;
	--large-button-height: 48px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	font-size: var(--regular-font-size);
	font-weight: var(--regular-font-weight);
}

/* 
	Set parent font size to reduce size
	Useful for hierarchical relationships
	denoted through font size.
	e.g., Post & Comment
*/

.regularText {
	font-size: var(--regular-font-size);
	font-weight: var(--regular-font-weight);
}

.clarificationText {
	font-size: var(--clarification-font-size);
	font-weight: var(--regular-font-weight);
}

.titleText {
	font-size: var(--title-font-size);
	font-weight: var(--medium-font-weight);
}

.headerText {
	font-size: var(--header-font-size);
	font-weight: var(--bold-font-weight);
}

/* 
	Useful classes for hierarchical 
	relationships denoted through font style.
	e.g., Post & Comment
*/

.emphasizedText {
	font-weight: var(--bold-font-weight);
}

.deemphasizedText {
	color: var(--greyed-text-color);
}

@media screen and (width <= 992px) {
	:root {
		--sidebar-width: 90dvw;
	}
}
