.button {
	height: var(--button-height);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: var(--spacing);
	gap: var(--spacing);
	border: none;
	border-radius: var(--actionable-border-radius);
	cursor: pointer;
	transition: all 0.4s ease;
	background-color: transparent;
	font-size: var(--clarification-font-size);
	font-weight: var(--button-weight);
	color: var(--font-color);
	user-select: none;
	position: relative;
	&.roundedButton {
		width: var(--button-height);
	}
}

.blockButton {
	width: 100%;
}

.roundedButton {
	border-radius: 50%;
	padding-inline: 0;
	.hoverHint {
		border-radius: 50%;
	}
}

.button:not(:disabled):hover {
	background-color: rgb(from var(--on-primary-color) r g b / 15%);
	.hoverHint {
		opacity: 1;
	}
}

.button:disabled {
	cursor: default;
	color: var(--greyed-text-color);
}

.outlinedButton,
.solidButton {
	min-width: 100px;
}

.outlinedButton {
	color: var(--primary-shade-color);
	border: 1.5px solid var(--primary-shade-color);
}

.solidButton {
	background-color: var(--primary-shade-color);
	color: var(--on-primary-shade-color);
}

.solidButton:not(:disabled):hover {
	background-color: rgba(from var(--primary-shade-color) r g b / 0.9);
}

.solidButton:disabled {
	background-color: var(--disabled-color);
}

.smallButton {
	height: var(--small-button-height);
	gap: calc(var(--spacing) / 2);
	&.roundedButton {
		width: var(--small-button-height);
	}
}

.largeButton {
	height: var(--large-button-height);
	font-size: var(--regular-font-size);
	&.roundedButton {
		width: var(--large-button-height);
	}
}

.hoverHint {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(from var(--on-primary-color) r g b / 60%);
	color: var(--on-primary-shade-color);
	opacity: 0;
	transition: all 0.4s ease;
	border-radius: var(--actionable-border-radius);
}
